body{
    background: url('☁️✈️.jpeg') no-repeat center center/cover;
}
img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
h1{
    font-size: large;
    text-align: center;
}
.container-kirim{
    box-shadow: inset;
    color: aqua;
    margin: 1%;
    position: relative;
    align-items: center;
    align-items: center;
}